

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
       padding-top: 50px;
       padding-bottom: 20px;
}

.products {
/* 	display: none; */
	opacity: 0;
	transition: opacity 2s;
}

.products.timed-display {
/* 	display: block; */
	opacity: 1;
}











