/* ---Colors--- */
/*---Fonts---*/
body {
  padding: 1em 0;
}

.row {
  margin: 1em -15px;
}

a.btn-default {
  position: relative;
  background-color: #46AC4E;
  box-shadow: 0 8px 0 #3A8F41;
  padding: .4em 0;
  border: none;
  color: #FFF;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  margin: 2em auto;
  width: 75%;
  font-size: 1.25em;
  max-width: 250px;
}
a.btn-default .btn-badge {
  width: 70px;
  height: 70px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: 43.90243%;
  background-size: 363.63636%;
  position: absolute;
  left: -35px;
  top: -12px;
}
a.btn-default .glyphicon {
  font-size: .8em;
}
a.btn-default.btn-lg {
  font-size: 1.5em;
}
a.btn-default.btn-lg .btn-badge {
  top: -8px;
}
a.btn-default:hover {
  background-color: #3A8F41;
  color: #FFF;
}
a.text-link {
  font-size: 1em;
  color: #53B8BF;
  text-decoration: underline;
}
a.text-link:hover {
  color: #E9872A;
}
a.text-link.text-link-med {
  font-size: 1.25em;
}
a.text-link.text-link-lg {
  font-size: 1.5em;
}

header .panel-default {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
header .panel-default .panel-heading {
  background-color: inherit;
  border: inherit;
  color: inherit;
  padding: 5px 15px;
}
@media screen and (min-width: 768px) {
  header .panel-default .panel-heading {
    padding: 5px 0;
  }
}
header .panel-default a.panel-title {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 5px;
}
header .panel-default a.panel-title span {
  color: #53B8BF;
}
header .panel-default a.panel-title:hover {
  text-decoration: none;
  background: #53B8BF;
  color: #FFF;
  border-radius: 5px;
}
header .panel-default a.panel-title:hover span {
  color: inherit;
}
header .panel-default .panel-body {
  padding: 5px 15px;
}
header .panel-default .panel-body .glyphicon {
  background-color: #46AC4E;
  color: #FFF;
  border-radius: 100%;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  header .panel-default .panel-body {
    padding: 5px 0;
  }
}
@media screen and (min-width: 768px) {
  header .panel-default {
    text-align: right;
  }
}

.jumbotron {
  background-color: #4C813D;
  background-image: url("../img/sprite.png");
  background-position: 0 -535px;
  background-repeat: repeat-x;
}
.jumbotron h1 {
  font-size: 2em;
  margin: 0;
  font-weight: normal;
  line-height: 1.4;
}
.jumbotron h1 strong {
  border-bottom: 4px solid #DB1814;
}
.jumbotron .panel-default {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #FFF;
  margin: 0;
}
.jumbotron .panel-default .panel-heading {
  background-color: inherit;
  border: inherit;
  color: inherit;
  font-size: 1.6em;
  text-transform: uppercase;
}
.jumbotron .panel-default .panel-heading span:before, .jumbotron .panel-default .panel-heading span:after {
  content: "\0336";
}
.container .jumbotron {
  border-radius: 0;
}

.video .panel-default {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.video .panel-heading {
  background-color: inherit;
  border: inherit;
  color: inherit;
}
.video .panel-heading .panel-title {
  font-weight: normal;
  font-size: 1.25em;
  line-height: 1.3;
}

.bundles {
  height: 0;
  -webkit-transition: height 3s;
  transition: height 3s;
  overflow: hidden;
}
.bundles .bundle {
  margin: 3em 0;
}
.bundles .bundle .wrapper {
  padding: .5em;
  margin: 0 1.5em;
  text-align: center;
}
.bundles .bundle .wrapper .panel-default {
  background-color: transparent;
  border: none;
  box-shadow: none;
  position: relative;
  background-color: #FFF;
  box-shadow: 0 0 5px #666;
  border-radius: 0;
  margin: 0;
}
.bundles .bundle .wrapper .panel-default .panel-heading {
  background-color: inherit;
  border: inherit;
  color: inherit;
}
.bundles .bundle .wrapper .panel-default .panel-heading .panel-title {
  font-size: 1.5em;
  margin-bottom: .25em;
}
.bundles .bundle .wrapper .panel-default .panel-heading p {
  color: #53B8BF;
  font-size: 1.125em;
}
.bundles .bundle .wrapper .panel-default .panel-body {
  padding: 0;
}
.bundles .bundle .wrapper .panel-default .panel-body h3 {
  font-size: 1.75em;
  margin: 0;
}
.bundles .bundle .wrapper .panel-default .panel-body h3 sup {
  font-size: .65em;
}
.bundles .bundle .wrapper .panel-default .panel-body h3 small {
  font-size: .5em;
  border-bottom: 1px solid #000;
  margin: 0 0 .5em .25em;
  color: #000;
  display: inline-block;
  vertical-align: bottom;
}
.bundles .bundle .wrapper .panel-default .panel-body p {
  font-size: 1.125em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}
.bundles .bundle .wrapper .panel-default .panel-footer {
  background: transparent;
  border: 0;
}
.bundles .bundle .wrapper .panel-default .panel-footer .btn {
  max-width: 200px;
  min-width: 180px;
}
.bundles .bundle .wrapper > p {
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: .2em;
}
.bundles .bundle .wrapper .corner-badge {
  border-radius: 100%;
  position: absolute;
  right: -35px;
  top: -35px;
  width: 70px;
  height: 70px;
  background-color: #E9872A;
  box-shadow: 0 0 3px #666;
}
.bundles .bundle .wrapper .corner-badge p {
  color: #FFF;
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.bundles .bundle .wrapper .corner-badge p small {
  font-size: .8em;
  display: block;
}
.bundles .bundle .sprite-responsive.bottles-three {
  max-width: 250px;
  margin: 0 auto;
}
.bundles .bundle .sprite-responsive.bottles-three::before {
  /* Params:
  	$imgWidth: width of image on the sprite file
  	$imgHeight: height of image on the sprite file
  	$spriteX: horizontal position of image on the sprite file
  	$spriteY: vertial position of image on the sprite file
  	$spriteWidth: width of the sprite file
  	$spriteHeight: height of the sprite file
  	$filename: sprite filename
  */
  display: block;
  content: "";
  background-image: url("../img/sprite.png");
  background-position-x: 71.42857%;
  background-position-y: 1.79641%;
  background-size: 240%;
  padding-bottom: 60%;
  width: 100%;
  height: 0;
}
.bundles .bundle .sprite-responsive.bottles-six {
  max-width: 250px;
  margin: 0 auto;
}
.bundles .bundle .sprite-responsive.bottles-six::before {
  /* Params:
  	$imgWidth: width of image on the sprite file
  	$imgHeight: height of image on the sprite file
  	$spriteX: horizontal position of image on the sprite file
  	$spriteY: vertial position of image on the sprite file
  	$spriteWidth: width of the sprite file
  	$spriteHeight: height of the sprite file
  	$filename: sprite filename
  */
  display: block;
  content: "";
  background-image: url("../img/sprite.png");
  background-position-x: 0%;
  background-position-y: 1.79641%;
  background-size: 240%;
  padding-bottom: 60%;
  width: 100%;
  height: 0;
}
.bundles .bundle .sprite-responsive.bottles-twelve {
  max-width: 250px;
  margin: 0 auto;
}
.bundles .bundle .sprite-responsive.bottles-twelve::before {
  /* Params:
  	$imgWidth: width of image on the sprite file
  	$imgHeight: height of image on the sprite file
  	$spriteX: horizontal position of image on the sprite file
  	$spriteY: vertial position of image on the sprite file
  	$spriteWidth: width of the sprite file
  	$spriteHeight: height of the sprite file
  	$filename: sprite filename
  */
  display: block;
  content: "";
  background-image: url("../img/sprite.png");
  background-position-x: 0%;
  background-position-y: 22.75449%;
  background-size: 240%;
  padding-bottom: 60%;
  width: 100%;
  height: 0;
}
.bundles .bundle .sprite-responsive.highlight {
  max-width: 180px;
  margin: 0 auto;
  position: relative;
}
.bundles .bundle .sprite-responsive.highlight::before {
  /* Params:
  	$imgWidth: width of image on the sprite file
  	$imgHeight: height of image on the sprite file
  	$spriteX: horizontal position of image on the sprite file
  	$spriteY: vertial position of image on the sprite file
  	$spriteWidth: width of the sprite file
  	$spriteHeight: height of the sprite file
  	$filename: sprite filename
  */
  display: block;
  content: "";
  background-image: url("../img/sprite.png");
  background-position-x: 95.2381%;
  background-position-y: 44.93208%;
  background-size: 333.33333%;
  padding-bottom: 15.55556%;
  width: 100%;
  height: 0;
  z-index: -1;
}
.bundles .bundle.six-month-supply .wrapper {
  padding-top: .2em;
  background-color: #2A7D9A;
}
.bundles.bundles.timed-display {
  opacity: 1;
  height: auto;
}

.tables .panel-default {
  background-color: transparent;
  border: none;
  box-shadow: none;
  border: 3px solid #000;
  border-radius: 0;
}
.tables .panel-default .panel-heading {
  background-color: inherit;
  border: inherit;
  color: inherit;
  border: none;
  font-weight: bold;
}
.tables .panel-default .panel-heading .panel-title {
  font-size: 2em;
  margin-bottom: .5em;
  font-weight: normal;
}
.tables .panel-default .panel-body {
  padding-top: 0;
}
@media screen and (min-width: 768px) {
  .tables .panel-default {
    min-height: 350px;
    max-height: 350px;
    overflow: auto;
  }
}

.table thead {
  border-top: 12px solid #000;
}
.table thead th:nth-child(2) {
  text-align: right;
}
.table tbody {
  border-top: 6px solid #000;
}
.table tbody tr td {
  border: none;
}
.table tbody tr td:nth-child(2) {
  text-align: right;
}
.table tbody + tbody {
  border-top: 5px solid #000;
}

.guarantee {
  margin: 0 0;
  background-color: #4C813D;
  background-image: url("../img/sprite.png");
  background-position: 0 -1070px;
  background-repeat: repeat-x;
  background-size: 1200px 1970px;
}
.guarantee .wrapper {
  margin: 15px;
  background: #FFF;
  overflow: hidden;
}
.guarantee .wrapper > div {
  height: 100%;
}
.guarantee .guarantee-seal .sprite-responsive {
  max-width: 165px;
  margin: 1em auto;
}
.guarantee .guarantee-seal .sprite-responsive::before {
  /* Params:
  	$imgWidth: width of image on the sprite file
  	$imgHeight: height of image on the sprite file
  	$spriteX: horizontal position of image on the sprite file
  	$spriteY: vertial position of image on the sprite file
  	$spriteWidth: width of the sprite file
  	$spriteHeight: height of the sprite file
  	$filename: sprite filename
  */
  display: block;
  content: "";
  background-image: url("../img/sprite.png");
  background-position-x: 0%;
  background-position-y: 43.90244%;
  background-size: 363.63636%;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
}
.guarantee .dean-neuls-ceo-algaecal .panel {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.guarantee .dean-neuls-ceo-algaecal .panel .panel-body {
  padding: 0;
}
.guarantee .dean-neuls-ceo-algaecal .sprite-responsive {
  max-width: 200px;
  margin: 1em auto;
}
.guarantee .dean-neuls-ceo-algaecal .sprite-responsive::before {
  /* Params:
  	$imgWidth: width of image on the sprite file
  	$imgHeight: height of image on the sprite file
  	$spriteX: horizontal position of image on the sprite file
  	$spriteY: vertial position of image on the sprite file
  	$spriteWidth: width of the sprite file
  	$spriteHeight: height of the sprite file
  	$filename: sprite filename
  */
  display: block;
  content: "";
  background-image: url("../img/sprite.png");
  background-position-x: 50%;
  background-position-y: 42.85714%;
  background-size: 300%;
  padding-bottom: 72.5%;
  width: 100%;
  height: 0;
}
.guarantee .dean-neuls-ceo-algaecal .panel-footer {
  background: transparent;
  border: 0;
}
.guarantee h4 {
  color: #E9872A;
  font-size: 1.5em;
}

.references .panel-default {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.references .panel-default .panel-heading {
  background-color: #4C813D;
}
.references .as-seen-on .panel-default {
  box-shadow: 0 0 5px #333;
}
.references .as-seen-on .panel-default .panel-heading {
  color: #FFF;
}
.references .as-seen-on .panel-default .panel-body {
  padding: 0;
}
.references .as-seen-on .sprite-responsive {
  max-width: 350px;
  margin: 1em auto;
}
.references .as-seen-on .sprite-responsive::before {
  /* Params:
  	$imgWidth: width of image on the sprite file
  	$imgHeight: height of image on the sprite file
  	$spriteX: horizontal position of image on the sprite file
  	$spriteY: vertial position of image on the sprite file
  	$spriteWidth: width of the sprite file
  	$spriteHeight: height of the sprite file
  	$filename: sprite filename
  */
  display: block;
  content: "";
  background-image: url("../img/sprite.png");
  background-position-x: 100%;
  background-position-y: 24.27746%;
  background-size: 171.42857%;
  padding-bottom: 34.28571%;
  width: 100%;
  height: 0;
}
.references .scientific-references .panel-default .panel-heading {
  background: transparent;
  background-color: inherit;
  border: inherit;
  color: inherit;
}
.references .scientific-references .panel-default .panel-heading .panel-title {
  color: #53B8BF;
  font-size: 1.25em;
}
.references .scientific-references .panel-default .panel-body {
  padding: 0;
}
.references .scientific-references .panel-default .panel-body .text-link {
  padding-left: 2.5em;
}
.references .scientific-references .panel-default .panel-footer {
  background: transparent;
  border: 0;
}
