.bundles {
	max-height: 0;
	transition: max-height 2s;
	overflow: hidden;
	
	.bundle {
		margin: 2em 0;
		
		.wrapper {
			padding: .5em;
			margin: 0 1.5em;
			text-align: center;
			
			.panel-default{
				@include panel-default;
				position: relative;
				background-color: #FFF;
				box-shadow: 0 0 5px #666;
				border-radius: 0;
				margin: 0;
			
				.panel-heading{
					@include panel-heading;
					
					.panel-title {
						font-size: 1.5em;
						margin-bottom: .25em;
					}
					
					p {
						color: $blue-cyan;
						font-size: 1.125em;
					}
				}
				
				.panel-body{
					padding: 0;
					
					h3 {
						font-size: 1.75em;
						margin: 0;
					
						sup{
							font-size: .65em;
						}
						small{
							font-size: .5em;
							border-bottom: 1px solid #000;
							margin: 0 0 .5em .25em;
							color: #000;
							display: inline-block;
							vertical-align: bottom;
						}
					}
					
					p {
						font-size: 1.125em;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translateX(-50%) translateY(-50%);
						white-space: nowrap;
					}
				}
				
				.panel-footer {
					@include panel-footer;
					
					.btn {
						max-width: 200px;
						min-width: 180px
					}
				}
			
			}
			
			> p {
				color: #FFF;
				text-transform: uppercase;
				letter-spacing: 2px;
				margin-bottom: .2em;
			}
			
			.corner-badge{
				border-radius: 100%;
				position: absolute;
				right: -35px;
				top: -35px;
				width: 70px;
				height: 70px;
				background-color: $orange;
				box-shadow: 0 0 3px #666;
				p {
					color: #FFF;
					margin: 0;
					font-size: 1.5em;
					font-weight: bold;
					line-height: 1.1;
					text-align: center;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					
					small {
						font-size: .8em;
						display: block;
						margin-left: 5px;
					}
				}
			
			@include screen-sm{
				right: auto;
				width: 100%;
				left: 0;
				height: 30px;
				top: -28px;
				border-radius: 0;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				box-shadow: none;
				
				p{
					
					small {
						display: inline;
					}
				}
			}
			}
		}
		
		.sprite-responsive {
			
		&.bottles-three {
			max-width: 250px;
			margin: 0 auto;
		
		&::before{
		@include sprite-responsive-calcs(250,150,250,15,600,985,'sprite.png');
		}
		}
		
		&.bottles-six {
			max-width: 250px;
			margin: 0 auto;
		
		&::before{
		@include sprite-responsive-calcs(250,150,0,15,600,985,'sprite.png');
		}
		}
		
		&.bottles-twelve {
			max-width: 250px;
			margin: 0 auto;
		
		&::before{
		@include sprite-responsive-calcs(250,150,0,190,600,985,'sprite.png');
		}
		}
		
		&.highlight {
			max-width: 180px;
			margin: 0 auto;
			position: relative;
		
		&::before{
			@include sprite-responsive-calcs(180,28,400,430,600,985,'sprite.png');
			z-index: -1;
		}
		}
		}
	
	&.six-month-supply{
		margin-bottom: 3em;
		
		.wrapper {
			padding-top: .5em;
			background-color: $blue-green;
		}
	
	@include screen-sm{
		margin: 0;
		
		.wrapper{
			> p {
				margin-bottom: 1.85em;
			}
		}
	}
	}
	
	@include screen-sm{
		//.bundle
		margin: 3.25em 0 1em;
		padding-right: 0;
		padding-left: 0;
		
		.wrapper {
			margin: .25em
		}
	}
	
	}		
	
&.bundles.timed-display {
	max-height: 2000px;
}
@include screen-sm{
	margin-top: 2.5em;
}
}
