.guarantee {
	margin: 0 0;
	background-color: $green-dull; 
	background-image: url('../img/sprite.png');
	background-position: 0 -1070px;
	background-repeat: repeat-x;
	background-size: 1200px 1970px;
	
	.wrapper {
		margin: 15px;
		background: #FFF;
		overflow: hidden;
	}
	
	.guarantee-seal {
		
		.sprite-responsive {
			max-width: 165px;
			margin: 1em auto;	
		
		&::before{
			@include sprite-responsive-calcs(165,165,0,360,600,985,'sprite.png');		
		}
		}
	
	@include screen-sm{
		margin-top: 2em;
	}
	}
	
	.dean-neuls-ceo-algaecal {
		
		.panel {
			@include panel-default;
			
			.panel-body {
				padding: 0;
			}
		}
	
		.sprite-responsive {
			max-width: 200px;
			margin: 1em auto;
			 
		&::before{
			@include sprite-responsive-calcs(200,145,200,360,600,985,'sprite.png');
		}		
		}
		.panel-footer {
			@include panel-footer;
		}

	}
	
	h4 {
		color: $orange;
		font-size: 1.5em;
	}
}

.modal-backdrop.in{
	opacity: .75;
}
.modal-header {

	overflow: hidden;
	
	h1 {
		color: $green-dull;
	}
	
	button {
		border: 0;
		float: right;
		background: #FFF;
		color: #333;
		font-size: 1.25em;
		padding: 0;
		
		&:hover{
			color: #000;
		}
		}
}

.modal-body {
	
	h3 {
		color: $blue-green;
	}
}
