header {
	
	.panel-default {
		@include panel-default;
		
		.panel-heading {
			@include panel-heading;
			padding: 5px 15px;
		}
		a.panel-title {
			font-size: 1.5em;
			font-weight: bold;
			padding: 0 5px;
			
			span {
				color: $blue-cyan;
			}
		
		&:hover {
			text-decoration: none;
			background: $blue-cyan;
			color: #FFF;
			border-radius: 5px;
			
			span {
				color: inherit;
			}
		}	
		}
		
		.panel-body {
			padding: 5px 15px;
			.glyphicon {
				background-color: $green-bright;
				color: #FFF;
				border-radius: 100%;
				padding: 5px;
			}
		}
	}
	
}

