/* ---Colors--- */
$green-bright: 	#46AC4E;
$green-shadow: 	#3A8F41;
$green-dull: 	#4C813D;
$blue-cyan: 	#53B8BF; //#43BBFF;
$blue-green:	#2A7D9A;
$red:			#DB1814;
$orange: 		#E9872A;


/*---Fonts---*/

