/* ---Colors--- */
$green-bright: 	#46AC4E;
$green-shadow: 	#3A8F41;
$green-dull: 	#4C813D;
$blue-cyan: 	#54B8CD; 
$blue-green:	#008BA4; 
$red:			#DB1814;
$red2:			#AF1E11;
$orange: 		#E9872A;
$grey: 			#67676E;




